<!DOCTYPE html>
<html>
<head><title>Footer</title></head>
<body>
<main>
<div>
  <p><a href="/content/en/"><span class="icon icon-fresenius"></span>Fresenius Medical Care</a></p>
</div>
<div>
  <ul>
    <li><a href="https://freseniusmedicalcare.com/en/privacy-policy/">Privacy Policy</a></li>
    <li><a href="#">Cookie Settings</a></li>
    <li><a href="https://freseniusmedicalcare.com/en/imprint/">Imprint</a></li>
  </ul>
</div>
<div>
  <p>&copy; Fresenius Medical Care AG 2026</p>
</div>
</main>
</body>
</html>
