<!DOCTYPE html>
<html>
<head><title>Header</title></head>
<body>
<main>
<div>
  <p><a href="/content/en/"><span class="icon icon-fresenius"></span>Fresenius Medical Care</a></p>
</div>
<div>
  <ul>
    <li><a href="https://freseniusmedicalcare.com/en/patients-families/">Patients &amp; Families</a></li>
    <li><a href="https://freseniusmedicalcare.com/en/healthcare-professionals/">Healthcare Professionals</a></li>
    <li><a href="https://freseniusmedicalcare.com/en/investors/">Investors</a></li>
    <li><a href="https://freseniusmedicalcare.com/en/media/">Media</a></li>
    <li><a href="https://freseniusmedicalcare.com/en/sustainability/">Sustainability</a></li>
    <li><a href="https://freseniusmedicalcare.com/en/about-us/">About Us</a></li>
  </ul>
</div>
<div>
  <p><a href="/tools/widgets/scheme"><span class="icon icon-toggle"></span>Scheme</a></p>
  <p><a href="/tools/widgets/language"><span class="icon icon-globe"></span>Language</a></p>
  <p><a href="/tools/widgets/toggle"><span class="icon icon-more"></span>Toggle</a></p>
</div>
</main>
</body>
</html>
